<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand text-uppercase"}}
        admin
      {{/link-to}}
    </div>
    <ul class="nav navbar-nav">
      {{#each navbar as |link|}}
        <li>
          {{#link-to link.route}}
            {{link.name}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</nav>