<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      {{#each navbar as |link|}}
        <li>
          <a href="{{link.route}}">{{link.name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</nav>