{{#each model as |page|}}
  {{#app-page-title}}
    {{page.title}}
  {{/app-page-title}}

  {{#app-form}}

    {{#each page.form_fields as |field|}}
     <div class="form-group">
       <label>{{field.label}}</label>
       {{#each field.inputs as |input_field|}}
         {{
          input
            class="form-control"
            placeholder=input_field.name
            name=input_field.name
            type=input_field.type
            value=input_field.content
          }}
       {{/each}}
     </div>
    {{/each}}
    <button class="btn btn-success" {{action "save" page}}>Save</button>
  {{/app-form}}
{{/each}}
