{{#app-page-title}}
  About
{{/app-page-title}}

{{#app-form}}
  {{app-form-input inputName="Name" inputType="text" bindValue=model }}
  <button {{action 'save'}} class="btn btn-success">Salvar</button>
{{/app-form}}